@charset "utf-8";

.content .banner {
	height: 181px;
	border-top: solid 1px #ddd;
}

.swiper-container {
	width: 100%;
	height: 180px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	height: 100%;
}



.table-list {
	height: 184px;
	margin-top: 10px;
}

.table-list li {
	float: left;
	height: 87px;
	width: 25%;
	text-align: center;
	padding-top: 10px;
}

.table-list li a .tl-text {
	color: #000;
	text-decoration: none;
	font-family: "microsoft yahei";
}

.table-list .tl-icon {
	height: 48px;
}

.table-list .tl-text {
	height: 17px;
	padding-top: 5px;
	text-align: center;
}

.fee {
	border-top: solid 1px #ddd;
}

.fee .fee-h {
	height: 40px;
	font: 500 16px/40px "microsoft yahei";
	padding: 0 10px;
}

.fee .fee-more {
	float: right;
	font-size: 14px;
	font-weight: normal;
	color: #000;
}

.fee-h .arrow-right:before {
	content: "\F105";
	font-family: FontAwesome;
}

.fee-more .fee-refresh {
	display: block;
	float: left;
	font-family: Material Icons;
	font-size: 14px;
	width: 14px;
}

.fee-content {
	padding: 10px 10px 0 10px;
}

.fee-content li {
	height: 121px;
	border-bottom: solid 1px #ddd;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.fee-content li:last-child {
	border: none;
}

.fee-content li .fc-img {
	width: 115px;
	float: left;
}

.fc-img img {
	width: 115px;
	height: 115px;
}

.fee-content li .fc-text {
	margin-left: 122px;
	height: 115px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.fc-text p {
	font: 500 14px/18px "microsoft yahei";
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.fc-text p span.play::before {
	content: "\F04B";
	font-family: FontAwesome;
	color: rgba(16, 16, 16, 0.5);
	padding-right: 6px;
}

.fee-content li a {
	color: #101010;
}

.fc-text h4 {
	color: #101010;
	height: 42px;
	line-height: 21px;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}

.fc-text .doAction {
	height: 35px;
}

.doAction .da-left {
	float: left;
	width: 122px;
	height: 35px;
}

.doAction .da-right {
	padding-top: 10px;
}

.doAction .da-right .da-button {
	width: 68px;
	height: 23px;
	background: #EA1313;
	text-align: center;
	color: #fff;
	line-height: 23px;
	cursor: pointer;
	border: none;
	outline: none;
}

.doAction .da-right .da-button:focus {
	border: none;
	outline: none;
}

.da-left span {
	display: block;
	line-height: 17px;
	color: #E4463B;
	font: 500 15px/17px "microsoft yahei"
}

.songsheet-content li {
	height: 156px;
	width: 33.333333%;
	float: left;
	margin-bottom: 10px;
	border: none;
	padding: 0 5px;
}

.songsheet-content li .sc-icon {
	height: 115px;
}

.sc-icon img {
	height: 115px;
	width: 100%;
}

.songsheet-content li .sc-text {
	height: 35px;
	margin-top: 6px;
	line-height: 17px;
}

.swiper-pagination-bullet-active {
	background-color: #EA1313;
}

.fee-content li.load-more {
	height: 29px;
	color: rgba(100, 93, 93, 1);
	font-size: 14px;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	border: 1px solid rgba(187, 187, 187, 1);
}

.fee-content li.load-more .inner {
	height: 18px;
	line-height: 18px;
	margin: 0 auto;
	width: 194px;
}

.load-more .inner i.material-icons {
	font-style: normal;
	font-family: 'Material Icons';
	float: left;
}
