@charset "utf-8";

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(../font/material.570eb83859dc23dd0eec423a49e147fe.woff2) format('woff2'), url(../font/material.012cf6a10129e2275d79d6adac7f3b02.woff) format('woff'), url(../font/material.a37b0c01c0baf1888ca812cc0508f6e2.ttf) format('truetype');
}

@font-face {
	font-family: mb-icons;
	font-weight: normal;
	font-style: normal;
	src: url(../font/mb-icons.fabc1dac04c0abb197bcabb1df65ec0b.woff) format('woff'), url(../font/mb-icons.4a7cd2056e6418b619292484300bf570.ttf) format('truetype'), url(../font/mb-icons.7bfd0ff85d9ffb0aec7a5fb73ec5a0af.svg) format('svg');
}

@font-face {
	font-family: CustomIcon;
	font-weight: normal;
	font-style: normal;
	src: url(../font/custom.03d005d54504bdd2791bc2f63e6f46e3.woff) format('woff'), url(../font/custom.93fc495449f76225940d4663ccdcf854.ttf) format('truetype'), url(../font/custom.186d1040a4bc3862b52fb0d1092ced37.svg) format('svg');
}

@font-face {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	src: url(../font/font-awesome.af7ae505a9eed503f8b8e6982036873e.woff2) format('woff2'), url(../font/font-awesome.fee66e712a8a08eef5805a46892932ad.woff) format('woff'), url(../font/font-awesome.b06871f281fee6b241d60582ae9369b9.ttf) format('truetype'), url(../font/font-awesome.912ec66d7572ff821749319396470bde.svg#fontawesomeregular) format('svg');
}

@font-face {
	font-family: Dora;
	src: url(../font/dora.eb81a2a5e38fbd30ea9ce661fcf1220d.woff) format('woff'), url(../font/dora.43aac7f8bc42f68da1a037518df7e461.ttf) format('truetype'), url(../font/dora.1a2a0d69c54bffa79afca4a9be07c743.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

html,
body {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #101010;
	margin: 0 auto;
}

a:hover,
a:active,
a:visited,
a:link {
	text-decoration: none;
}

a,
img {
	border: none;
}

.clearfix {
	clear: both;
}

.header {
	height: 45px;
	padding: 7px 0 7px 0;
	border-bottom: solid 1px #aaa;
}

.header .audio-search,
.header .other-search {
	width: 41px;
	float: left;
	height: 30px;
	background: #fff;
	font-size: 30px;
	line-height: 30px;
	padding-left: 11px;
}

.audio-search span {
	font-family: 'Material Icons';
	cursor: pointer;
	color: #FF4081;
	height: 30px;
}

.other-search span {
	display: block;
	height: 30px;
	width: 30px;
}

.other-search span:before {
	font-family: mb-icons;
	content: "\E921";
	color: #EA1313;
	height: 30px;
}

.header .input-search {
	height: 30px;
	margin-left: 41px;
	margin-right: 41px;
	padding: 0 7px;
	position: relative;
}

.input-search:before {
	font-family: CustomIcon;
	position: absolute;
	content: "\E910";
	color: #EA1313;
	font-size: 18px;
	height: 18px;
	width: 18px;
	top: 6px;
	left: 15px;
	color: rgba(219, 213, 219, 1);
}

.container {
	padding-bottom: 50px;
}

.input-search input {
	height: 30px;
	width: 100%;
	border-radius: 100px;
	outline: none;
	line-height: 28px;
	background-color: rgba(255, 255, 255, 1);
	color: rgba(219, 213, 219, 1);
	border: 1px solid rgba(234, 100, 89, 1);
	padding-left: 30px;
}

.header .other-search {
	float: right;
	padding-right: 11px;
	padding-left: 0;
}

.footer {
	height: 48px;
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
	bottom: 0;
	left: 0;
	background: #f8f8f8;
	z-index: 9999;
}

.footer li {
	flex: 1;
	text-align: center;
	padding: 5px;
}

.footer li a {
	display: block;
	height: 45px;
	color: #333;
}

.footer li .fl-icon {
	height: 24px;
	text-align: center;
	font-size: 24px;
}

.footer li.active .fl-icon,
.footer li.active .fl-text {
	color: #E4463B;
}

.footer li .fl-text {
	height: 14px;
	line-height: 14px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 2px;
}

.fl-icon span.home:before {
	font-family: FontAwesome;
	content: "\F14E";
	display: block;
}

.fl-icon span.all:before {
	font-family: FontAwesome;
	content: "\F16A";
	display: block;
}

.fl-icon span.study:before {
	font-family: FontAwesome;
	content: "\F001";
	display: block;
}

.fl-icon span.find:before {
	font-family: FontAwesome;
	content: "\f06e";
	display: block;
	transform: translateY(-5%);
}

.fl-icon span.acount:before {
	font-family: FontAwesome;
	content: "\F007";
	display: block;
}

.header-h {
	font: 500 16px/30px "microsoft yahei";
	text-align: center;
}

.header-h:before {
	content: "";
}

.nav {
	height: 46px;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid rgba(206, 201, 201, 1);
}

.nav .inner {
	overflow-x: scroll;
	height: 62px;
	padding-bottom: 17px;
	padding: 11px;
	position: relative;
}

.nav .nav-more {
	display: block;
	position: absolute;
	right: 0;
	top: 6px;
	width: 30px;
	height: 30px;
	background: #fff;
	cursor: pointer;
	text-align: center;
	z-index: 999;
}

.nav-more:before {
	content: "\F107";
	font-family: FontAwesome;
	color: #EA1313;
	font-size: 30px;
	line-height: 30px;
}

.nav .inner ul {
	display: block;
	height: 23px;
	width: 1200px;
}

.nav .inner ul:after {
	clear: both;
	display: table;
	content: "";
}

.nav .inner li {
	height: 20px;
	display: block;
	float: left;
	border-right: solid 1px #d5d5d5;
	font-size: 16px;
	padding: 0 2px;
}

.nav .inner li a {
	color: rgba(228, 70, 59, 1);
	font-weight: 600;
	display: block;
	padding: 0 15px;
}

.nav .inner li.active a {
	border-bottom: solid 2px #f60;
}

.audio-search .arrow-back::before {
	content: "\F104";
	color: #EE190B;
	font-family: FontAwesome;
	position: relative;
	top: -5px;
}

.other-search .arrow-share::before {
	content: "";
}

.other-search .arrow-share::after {
	content: "\F045";
	color: #EE190B;
	font-family: FontAwesome;
	position: relative;
}

.bottom-menus {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	z-index: 99999;
	background: #fff;
}

.bottom-menus .inner {
	height: 45px;
	line-height: 43px;
	border: 1px solid rgba(187, 187, 187, 1);
}

.bottom-menus .inner ul {
	display: flex;
	flex-direction: row;
	margin-right: 130px;
	height: 45px;
}

.bottom-menus .inner ul li {
	flex: 1;
	height: 45px;
}

.bottom-menus .inner ul li span {
	padding: 12px;
	font-size: 24px;
	color: #645D5D;
	position: relative;
}

.bottom-menus .inner ul li.active span {
	color: #CE1F13;
}

.bottom-menus .inner ul li span i {
	position: absolute;
	right: -25px;
	top: 0;
	font-style: normal;
	font-size: 8px;
}

.bottom-menus .inner ul li .hand::before {
	font-family: FontAwesome;
	content: "\f087";
}

.bottom-menus .inner ul li .heart::before {
	font-family: FontAwesome;
	content: "\f184";
}

.bottom-menus .inner ul li .share::before {
	font-family: FontAwesome;
	content: "\f045";
}

.bottom-menus .inner .bi-btn {
	width: 125px;
	margin-top: -1px;
	margin-right: -1px;
	float: right;
	height: 45px;
	border-radius: 6px 6px 6px 6px;
	background-color: rgba(206, 31, 19, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	border: 1px solid rgba(187, 187, 187, 1);
	cursor: pointer;
}

.bottom-menus .inner .bi-btn p {
	line-height: 18px;
	text-align: center;
	padding: 4px;
	font-size: 12px;
}

.bi-btn .star {
	display: block;
	font-size: 20px;
	float: left;
	margin-left: 30px;
	margin-right: 5px;
}

.bi-btn .star::before {
	font-family: FontAwesome;
	content: "\f006";
}
