@charset "utf-8";

.user-info {
	height: 91px;
	border-bottom: solid 1px #ddd;
	padding-top: 25px;
}

.ui-inner {
	height: 60px;
	padding: 0 10px;
}

.ui-inner .icon {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}

.ui-inner .action {
	margin-left: 80px;
	height: 60px;
}

.ui-inner::after {
	clear: both;
	content: "";
	display: table;
}

.action h3 {
	color: #101010;
	font: 500 16px/30px "microsoft yahei";
}

.action p {
	border-radius: 15px;
	border: solid 1px #ddd;
	display: inline;
	padding: 0 10px;
	color: #8F9092;
	font: italic 500 12px/16px "microsoft yahei";
}

.action .sign-in {
	float: right;
	height: 22px;
	color: #E4463B;
	line-height: 20px;
	border: solid 1px #E4463B;
	padding: 0 6px;
	border-radius: 10px;
	cursor: pointer;
}

.action .sign-in.active {
	border: solid 1px #A4A4A6;
	color: #A4A4A6;
}

.user-levels {
	height: 74px;
	display: flex;
	border-radius: 15px;
	background-color: rgba(242, 242, 242, 1);
	text-align: center;
	border: 1px dashed rgba(187, 187, 187, 1);
	flex-direction: row;
	margin-top: 8px;
}

.user-levels .li {
	flex: 1;
	height: 74px;
	position: relative;
}

.user-levels .li .line {
	position: absolute;
	left: 50%;
	width: 100%;
	height: 1px;
	background-color: #aaa;
	top: 17px;
	z-index: 2;
}

.user-levels .li .head {
	height: 14px;
	position: absolute;
	top: 10px;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 3;
}

.user-levels .li .body {
	text-align: center;
	padding: 30px 10px 10px 10px;
}

.user-levels .li .body .h {
	height: 17px;
	color: rgba(16, 16, 16, 1);
	font-size: 12px;
}

.user-levels .li.active .body .h {
	color: #E4463B;
}

.user-levels .li .body .p {
	height: 14px;
	color: rgba(164, 164, 166, 1);
	font-size: 10px;
}

.user-levels .li:last-child .line {
	display: none;
}

.user-orders {
	margin-top: 8px;
	height: 95px;
	border-radius: 10px;
	color: rgba(16, 16, 16, 1);
	font-size: 14px;
	border: 1px solid rgba(187, 187, 187, 1);
	padding: 0 14px;
}

.user-orders .head {
	font: 14px/26px "microsoft yahei";
	height: 27px;
	border-bottom: solid 1px #ddd;
	color: #101010;
}

.user-orders .head .more {
	float: right;
	color: #A4A4A6;
}

.head .more i {
	padding-left: 15px;
}

.head .more i:before {
	content: "\F105";
	font-family: FontAwesome;
	font-style: normal;
}

.user-orders .body {
	display: block;
}

.user-orders .body::after {
	display: table;
	content: "";
	clear: both;
}

.user-orders .body .li {
	float: left;
	width: 20%;
	text-align: center;
	height: 60px;
}

.user-orders .body .li .icon {
	padding-top: 6px;
	height: 36px;
}

.user-orders .body .li .text {
	height: 22px;
	color: rgba(164, 164, 166, 1);
	font-size: 10px;
	padding-top: 8px;
}

.user-navs {
	height: 154px;
}

.user-adver {
	margin-top: 8px;
}

.user-menus {
	background-color: #EEEFF1;
}

.user-menus ul {
	display: block;
	background-color: #EEEFF1;
	padding-top: 10px;
}

.user-menus ul.exit {
	padding-bottom: 10px;
}

.user-menus ul.exit li {
	text-align: center;
	color: #E4463B;
	cursor: pointer;
}

.user-menus ul.exit li::after {
	content: "";
}

.user-menus ul li {
	height: 45px;
	border-bottom: solid 1px #f0f0f2;
	box-sizing: content-box;
	font: 500 16px/45px "microsoft yahei";
	color: #030303;
	padding: 0 15px;
	border-bottom: solid 1px #ddd;
	background-color: #fff;
	position: relative;
}

.user-menus ul li::after {
	position: absolute;
	right: 15px;
	top: 0;
	content: "\F105";
	color: #C7C7CC;
	font-family: FontAwesome;
	clear: both;
}

.user-menus ul li .cash {
	width: 50px;
	height: 25px;
	float: right;
	border-radius: 40px;
	color: rgba(249, 184, 12, 1);
	font-size: 14px;
	text-align: center;
	font-family: Arial;
	line-height: 23px;
	border: 1px solid rgba(249, 184, 12, 1);
	margin-top: 10px;
	margin-right: 20px;
	cursor: pointer;
}

.user-menus ul li a {
	color: #030303;
}

.user-menus ul li a .sm {
	color: #E4463B;
	padding-left: 15px;
}

.user-menus ul li a .ml {
	float: right;
	color: rgba(164, 164, 166, 1);
	font-size: 14px;
	text-align: left;
	margin-right: 15px;

}

.user-menus ul li a .icon {
	float: left;
	width: 29px;
	height: 29px;
	display: block;
	margin-top: 8px;
	margin-right: 15px;
}

.user-menus ul li:last-child {
	border: none;
}
